mixin carouselFullScreen
 svg(viewBox="0 0 24 24" width=24 height=24 fill="currentColor")
  path(d="M14,14H19V16H16V19H14V14M5,14H10V19H8V16H5V14M8,5H10V10H5V8H8V5M19,8V10H14V5H16V8H19Z").exitFS
  path(d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z").intoFS

mixin carousel(amti, imgs, carouselname)
 - var carouselPrefix = "carousel-" //- The opening ID of carousel. Set to "" for just itself.
 - var amt = amti - 1 //- Reduce the amount measured by one
 
 if carouselname
  - var name = carouselPrefix+carouselname
 else
  - var name = carouselPrefix+"toggle"
 input(id=carouselPrefix+"fullscreen", type="checkbox" hidden=true).carouselFullScreen
 //- The fullscreen /\ and the container \/
 ul.carousel-container
  //- For each argument provided
  each url, index in imgs
   li
    if index == 0
     //- If it's the first in line check it by default
     input.carousel-toggle(type='radio' name=name, checked=true, id=carouselPrefix+'tab-'+index, hidden)
    else
     //- or else
     input.carousel-toggle(type='radio' name=name, checked=false, id=carouselPrefix+'tab-'+index, hidden)
    label.dot(for=carouselPrefix+'tab-'+index)
    //- A dot for this particular carousel item
    ul.carousel-content
     li
      //- The most important part: The content.
      img(src=url)
      if index == 0
       //- If it's the first in line make it go to the last
       label.arrow.back(for=carouselPrefix+'tab-'+amt)
      else
       label.arrow.back(for=carouselPrefix+'tab-'+(index - 1))
      if amt == index
       //- If it's the last in line make it go to the first
       label.arrow.next(for=carouselPrefix+'tab-'+ 0)
      else
       label.arrow.next(for=carouselPrefix+'tab-'+(index + 1))
  //- Fullscreen banner
  label(for=carouselPrefix+"fullscreen").carousel-fullscreen
   +carouselFullScreen

//-
 Example code:
 
 `````jade
 - var tafttest = "http://tafttest.com/"
 - var x = "x"
 - var png = ".png"
 - var carouselcont = [tafttest+800+x+600+png, tafttest+600+x+800+png, tafttest+800+x+800+png, tafttest+600+x+600+png, tafttest+500+x+800+png, tafttest+800+x+500+png, tafttest+500+x+500+png, tafttest+300+x+800+png, tafttest+800+x+300+png, tafttest+720+x+720]
 http://www.spacebuckets.com/gal/1-1.jpg
 +carousel(10, carouselcont)
 `````
 
 You need to know how many items there are in a carousel before you add it, sorry.
